astroid
attrs
autopep8
coverage
iniconfig
isort
lazy-object-proxy
mccabe
numpy
packaging
pandas
pluggy
py
pycodestyle
pylint
pyparsing
pytest
pytest-cov
python-dateutil
pytz
PyYAML
six
toml
urllib3
wrapt
codecov
GitPython